/* helpers  */

.active {
  background: -webkit-linear-gradient(to right, #fc466b, #3f5efb);
  background: linear-gradient(to right, #fc466b, #3f5efb);
  color: white !important;
}

/* Resetting essential */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

/* Apply hover where the btn is not active */
.btn:hover:not(.active) {
  color: #3f5efb !important;
}

.toggle-btn {
  display: none;
  cursor: pointer;
}
/* transform-origin: 0.5em 50%; */

.btn-toggle-arrow {
  margin-right: 0.5rem;
  transition: all 0.35s ease 0s;
}

.btn-toggle[aria-expanded="true"] .btn-toggle-arrow {
  transform: rotate(90deg);
  margin-right: 1rem;
}

.btn-toggle-nav a {
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  padding: 0.1875rem 0.5rem;
}

.btn-toggle-nav li a:hover {
  color: #3f5efb !important;
}
